/* 
label: DarkGreen
value: darkgreen 
*/

:root[data-theme-preset="darkgreen"] {
  --radius: 0.625rem;

  --card: #ffffff;
  --card-foreground: #334332;

  --popover: #ffffff;
  --popover-foreground: #5e563d;

  --primary: #334332;
  --primary-foreground: #f5f3ea;

  --secondary: #f5f3ea;
  --secondary-foreground: #7b1113;

  --muted: #f5f3ea;
  --muted-foreground: #5c7947;

  --accent: #ffd75f;
  --accent-foreground: #3e3f3f;

  --destructive: #e7000b;

  --border: #d6c8a6;
  --input: #d6c8a6;
  --ring: #334332;

  --chart-1: #5c7947;
  --chart-2: #7b1113;
  --chart-3: #ffd75f;
  --chart-4: #c4b487;
  --chart-5: #d1d3d4;
  --chart-6: #7b1113;
  --chart-7: #938b77;
  --chart-8: #ece8d9;
  --chart-9: #87875a;
  --chart-10: #b7c5b7;
  --chart-11: #acbe74;
  --chart-12: #665b63;

  --sidebar: #334332;
  --sidebar-foreground: #f5f3ea;
  --sidebar-primary: #f5f3ea;
  --sidebar-primary-foreground: #f5f3ea;
  --sidebar-accent: #b9d3a5;
  --sidebar-accent-foreground: #3e3f3f;
  --sidebar-border: #334332;
  --sidebar-ring: #fff;

  --background: #f5f3ea;
  --foreground: #3e3f3f;

  /* Shadows (soft, natural look) */
  --shadow-2xs: 0px 1px 3px 0px rgba(0, 0, 0, 0.05);
  --shadow-xs: 0px 1px 3px 0px rgba(0, 0, 0, 0.05);
  --shadow-sm: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px -1px rgba(0, 0, 0, 0.1);
  --shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px -1px rgba(0, 0, 0, 0.1);
  --shadow-md: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
  --shadow-xl: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 8px 10px -1px rgba(0, 0, 0, 0.1);
  --shadow-2xl: 0px 1px 3px rgba(0, 0, 0, 0.25);
}

.dark:root[data-theme-preset="darkgreen"] {
  --radius: 0.625rem;
  --card: #32353b;
  --card-foreground: #cbdac1;

  --popover: #5e563d;
  --popover-foreground: #f5f3ea;

  --primary: #5c7947;
  --primary-foreground: #f5f3ea;

  --secondary: #ada48b;
  --secondary-foreground: #332f27;

  --muted: #332f27;
  --muted-foreground: #b6ab8f;

  --accent: #ffd75f;
  --accent-foreground: #3e3f3f;

  --destructive: #fd525b;

  --border: #665f50;
  --input: #f5f3ea;
  --ring: #272824;

  --chart-1: #5c7947;
  --chart-2: #ffd75f;
  --chart-3: #c4b487;
  --chart-4: #7b1113;
  --chart-5: #d1d3d4;
  --chart-6: #7b1113;
  --chart-7: #938b77;
  --chart-8: #ece8d9;
  --chart-9: #87875a;
  --chart-10: #b7c5b7;
  --chart-11: #acbe74;
  --chart-12: #665b63;

  --sidebar: #222225;
  --sidebar-foreground: #b7c5b7;
  --sidebar-primary: #272824;
  --sidebar-primary-foreground: #b7c5b7;
  --sidebar-accent: #5c7947;
  --sidebar-accent-foreground: #f5f3ea;
  --sidebar-border: #32353b;
  --sidebar-ring: #fff;

  --background: #292a2c;
  --foreground: #f5f3ea;

  /* Shadows (neutral) */
  --shadow-2xs: 0px 1px 3px 0px rgba(0, 0, 0, 0.05);
  --shadow-xs: 0px 1px 3px 0px rgba(0, 0, 0, 0.05);
  --shadow-sm: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px -1px rgba(0, 0, 0, 0.1);
  --shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px -1px rgba(0, 0, 0, 0.1);
  --shadow-md: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
  --shadow-xl: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 8px 10px -1px rgba(0, 0, 0, 0.1);
  --shadow-2xl: 0px 1px 3px rgba(0, 0, 0, 0.25);
}
